<DOCTYPE html>
{% block body %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lunchbox</title>
    <!-- Bootstrap Core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- MetisMenu CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.css') }}">
    <!-- DataTables CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}">

    <!-- DataTables Responsive CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css') }}">

    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/being_used.css') }}"> -->
    <!-- Custom Fonts -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/loading-bar.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/being_used.css') }}"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Add font awesome icons to buttons (note that the fa-spin class rotates the icon) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <button class="buttonload">
      <i class=""></i>Loading


<!-- ----------------------------------------------- -->



</head>
<body >
    <div id="wrapper">
      <!-- <div class="navbar-header"> -->
        <div class="col-lg-12">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="FATP"><h2>LunchBox</h2>
          </a> -->
          <font color="white" class="navbar-brand" href="FATP"><h2>LunchBox</h2>
          </font>
      <!-- </div> -->
      </div>
            <div class="panel panel-body">
              <!-- <form action="{{url_for('DISCOVER_DNS')}}"  method="post" on ="return saveComment();" value="{{dns_return}}"> -->
                <form id="dns_collect" name="dns_collect" action="{{url_for('DISCOVER_DNS')}}"  method="post" >
                <div class="navbar-default sidebar" role="navigation">
                      <ul class="nav" id="search_site">
                          <li class="sidebar-search">
                              <div class="input-group custom-search-form">
                                  <input id="dns_text" name="dns_text" type="text" class="form-control" placeholder="Search...">
                                  <span class="input-group-btn">
                                  <button id="dns_button" class="btn btn-info" type="submit" >
                                      <i class="fa fa-search"></i>
                                  </button>
                              </span>
                              </div>
                              <!-- /input-group -->
                          </li>
                    </ul>
                <!-- </div> -->
                <!-- /.sidebar-collapse -->
              </div>
           </form>
           <!-- <iframe name='hidden_frame' id="hidden_frame" style='display: none'></iframe> -->
         </div>

                        <!-- /.panel-heading -->
                <div class="panel-body">
                  <!-- <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example"> -->
                     <table width="100%" class="table" >
                        <thead>
                            <tr>
                                <th >MAC Address</th>
                                <th >Device Type</th>
                                <th >Serial Number</th>
                                <th >Host Name</th>
                                <th >IP</th>
                                <th >Netmask</th>
                                <th >Gateway</th>
                                <th >ILOM</th>
                                <th >Stage</th>
                                <!-- <th>dhcp_ip</th> -->
                            </tr>
                        </thead>
                        <!-- <tbody> -->
<!-- ##<tr> table row 每一行 -->

<!-- <form id="myform" name="myform" action="{{url_for('show_select')}}" method="post"> -->
                      <form id="myform" name="myform" action="{{url_for('show_select')}}" method="post">
                          {% for entry in entries %}
                              <tr>
                            <td >
                              <div class="form-group">
                                  <input id="mac" name="mac_address" class="MC" value="{{entry.mac_address}}" readonly>
                              </div>
                            </td>
                              <td>
                                <div class="form-group">
                                    <input name="device_type" class="DT" value="{{entry.device_type}}" readonly>
                                </div>
                              </td>
                              <!-- <td> -->
                                <div class="form-group">

                                    <input type="hidden" name="temp_ip_address"  value="{{entry.temp_ip_address}}" >


                                </div>
                                        <!-- </td> -->
                                <td>
                                  <div class="form-group">
                                      <input id="serial_number" class="serial_number mytextbox"  name="serial_number" value="{{entry.serial_number}}" >
                                 </div>
                                </td>
                                <td>
                                      <div class="form-group">
                                          <!-- <select  name="select_host" id="select_hostname" onChange="onChangeSelect1();" class="form-control"> -->
                                          <!-- <select id="select_host" name="select_host" class="selectpicker form-control" value="{{entry.hostname}}" onchange="block_SN();this.form.submit();"> -->
                                            <select id="select_host"  name="select_host" class="selectpicker form-control" value="{{entry.hostname}}" onChange="this.form.submit();">
                                            <!-- <select id="select_host"  name="select_host" class="selectpicker form-control" value="{{entry.hostname}}" onChange="this.form.submit();"> -->
                                            {% for entry in hosts %}
                                            <option value="{{entry.hostname}}">{{entry.hostname}}</option>
                                            {% endfor %}
                                            <option selected="selected">{{entry.hostname}}</option>
                                          </select>
                                      </div>
                              </td>

                              <td>
                                <div class="form-group">
                                    <input id="IP" name="IP" class="IPS" value="{{entry.ip_address}}" >
                                </div>
                              </td>
                                  <td>
                                    <div class="form-group">
                                        <input id="netmask" class="NM mytextbox" name="netmask" value ="{{entry.netmask}}">
                                    </div>
                                  </td>
                                  <td>
                                      <div class="form-group">
                                        <input id="gateway" class="GW mytextbox" name="gateway" value="{{entry.gateway}}">
                                      </div>
                                  </td>
                                  <td>
                                     <div class="form-group">
                                        <input name="ILOM" class="ILOM" value="{{entry.ilom}}" readonly>
                                      </div>

                                  </td>

                                  <!-- <td> -->
                                  <div class="form-group">
                                      <input id="stage" type="hidden" name="real_stage"  value="{{entry.stage}}" >
                                  </div>
                                  <!-- </td> -->


                                  <td>
                                  <div id="f1_container" name="container">
                                    <div id="cube" class="cube" >
                                          <!-- style="display: none;" -->
                                        <div class="cube__face cube__face--Discover">
                                        <input id="Discover" type="button" class="btn-default" onclick="readTextFile();" name="stage" value="Discover" >
                                        </div>

                                        <div class="cube__face cube__face--Verify">
                                        <input id="Verify" type="button" class="btn-default" onclick="readTextFile();" name="stage" value="Verify" >
                                        </div>

                                        <div class="cube__face cube__face--Deploy">
                                        <input id="Deploy" type="button" class="btn-default" onclick="readTextFile();" name="stage" value="Deploy" >
                                        <div id="ldBar" class="ldBar label-center" data-value="0" data-preset="stripe" data-aspect-ratio="none" style="width:100%;display: none;" ></div>
                                        </div>

                                        <div class="cube__face cube__face--Validate">
                                        <input id="Validate" type="button" class="btn-default" onclick="readTextFile();" name="stage" value="Validate" >
                                        </div>

                                      </div>
                                    </div>
                                  </td>

                                </tr>
                                  {%endfor %}
                                </form>

                            <!-- </tbody> -->

                            <tfoot>
                            <tr>
                                <td valign="botom" align="right">

                                  <button id="submit_button" name="submit_button" class="block btn-info" onclick="ajaxForm();">
                                    <!-- <i class="fa fa-spinner fa-spin"></i>  s u b m i t -->
                                    <p style="font-size:30px" class="fa">submit</p>
                                    <!-- <font size="80" class="fa">s u b m i t</font> -->
                                    </button>
                               </td>
                            </tr>
                            </tfoot>

                        </table>


                        </div>
                        <!-- /.panel-body
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->




<!-- jQuery -->

<script src="../static/vendor/jquery/jquery.min.js"></script>



<!-- Bootstrap Core JavaScript -->
<!-- <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script> -->

<!-- Metis Menu Plugin JavaScript -->
<!-- <script src="static/vendor/metisMenu/metisMenu.min.js"></script> -->

<!-- DataTables JavaScript -->
<!-- <script src="static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="static/vendor/datatables-responsive/dataTables.responsive.js"></script> -->



<!-- Custom Theme JavaScript -->
<script src="static/dist/js/being_used.js"></script>

<script type="text/javascript" src="static/dist/js/loading-bar.js"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<!-- <script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        responsive: true
    });
});
</script> -->
<div class="output"></div>
</script>

</body>



</html>
{% endblock %}
